/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
  }
  
  body {
    background: url('/E_Website/assets/study.jpg') no-repeat center center/cover;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Container Styling */
  .container {
    width: 90%;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
  
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #fff9f9;
  }
  
  /* Input Fields */
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    font-size: 0.9em;
    color: #d3d2d2;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
  }
  
  /* Button */
  .signup-btn {
    width: 80%;
    padding: 10px;
    background-color: #0056f2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    background-color: #6500be;
  }
  